:root {
    --night: #0C1B31;
    --myorange: #D45440;
    --mygray: #F2F2F2;
}

body{
    background-color: rgb(15, 50, 60);
}

.mainSection {
    background-image: url("../img/ORSJP90.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 20px;
    min-height: 100%;
    padding-left: 50px;
    padding-right: 50px
}

.deco {
    background-color: #D45440;
}

.decoWhite {
    height: 115%; 
    position: absolute;
    margin-top: 30px;
    margin-left: -30px;
    background-color: white;
    z-index: 1;
}

.sideNav {
    position: fixed;
    right: 0px;
    top: 60px;
}

.title {
    text-decoration: underline;
    text-decoration-color: #D45440;
}

.noWrap {
    word-wrap: nowrap;
}

.iconBlue {
    height: 40px;
    fill:#0C1B31;
}

.iconWhite {
    height: 40px;
    fill:white;
}
.col-md-6, .col-md-12, .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.element {
    background-color: rgba(95, 137, 148, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

button {
    border: 0px;
    background-color: #F2F2F2;
}

textarea{
    min-height: 200px;
}

button {
    width: 50%;
}

.btn-default:hover {
    background-color: #D45440;
}

.btn-default {
    border-radius: 0px;
}

.first {
    padding-right: 10px;
}

.second {
    padding-left: 10px;
}

@media all and (max-width: 800px) {
    .mainSection {
        padding-left: 10px;
        padding-right: 10px;
    }
    .first {
        padding-right: 0px;
    }
    .second {
        padding-left: 0px;
    }
}


