/**************ABOUT*****************/

.element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 10%;
    min-height: 400px;
    flex-wrap: wrap;
}
.element .divText {
    width: 55%;
}

.element .divImg {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divImg > img {
    height: auto;
    max-width: 100%;
    border: 2px solid var(--dimGray);
}
.element h4 {
    color: var(--myGray);
    text-decoration: underline;
    text-decoration-color: var(--myGreen);
}
.element.blueBkg {
    box-shadow: 0px 6px 10px var(--myGray);
}
.skill {
    width: 10%;
    height: 210px;
    text-align: center;
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: 6px 6px 10px var(--myGray);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill:hover {
    box-shadow: none;
}
.icon {
    width: 70%;
    height: 70%;
}
@media all and (max-width: 1200px) {

    .skill {
        width: 14%;
        height: 150px;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.2em;
    }
    p, li {
        font-size: 1em;
    }
    
}
@media all and (max-width: 1000px) {
    .skill {
        width: 17%;
        height: 180px;
    }
    .element {
        padding: 40px 5%;
    }
    
    
}
@media all and (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }
    .skill {
        width: 21%;
        height: 150px;
    }
    .element .divText {
        width: 100%;
    }
    
    .element .divImg {
        height:30%;
    }
    .divImg > img {
        height: auto;
    }
    .element.blueBkg img {
        display: none;
    }
}