/**************CONTACT*****************/
#contact {
    position: relative;
}
#contact * {
    z-index: 1;
}
#contact .elements {
    background-color: rgba(255,255,255,0.5);
}
#contact img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0;
}
.contactForm {
    margin-left: 10%;
    width:50%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 80px;
    box-shadow: 6px 6px 10px var(--myGray);
}

.inline > input {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .contactForm {
        width:70%;
    }
    ::placeholder {
        font-size: 0.9em;
    }
    :placeholder-shown {
        font-size: 0.9em;
    }
}
@media all and (max-width: 650px) {
    .contactForm {
        margin-left: 5%;
        width:90%;
    }
    .flashMessage {
        margin-left: 50%;
    }
    .inline {
        flex-direction: column;
    }
}