:root {
    --myBrown: rgb(147, 134, 118);
    --dimGray: #483F3E;
    --whity: rgb(242, 242, 242);
    --myGray: #908786;
    --myGreen: #8daa3c;
    --lightGreen: #aebdac;
    --myBlue: #345482;
}
@font-face {
    font-family: 'Brittanian';
    src: url('../fonts/FUTRFW.TTF') format('truetype');
}
@font-face {
    font-family: 'Azonix';
    src: url('../fonts/Evogria.otf') format('opentype');
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0;
    min-height: 100vh;
}
::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
:placeholder-shown {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
h1 {
    font-family: 'Brittanian', 'Azonix';
    font-size: 1.7em;
    text-shadow: 2px 2px 1px var(--dimGray);
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
p, li {
    font-size: 1.1em;
}
a {
    text-decoration: none;
    color: inherit;
}
.pageTitle {
    color: var(--dimGray);
    margin-left: 10%;
    margin-right: 40%;
    border-bottom: 1.5px solid var(--myGreen);
}
.sectionTitle {
    color: var(--myGray);
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 30px;
    border-bottom: 1.5px solid var(--myBlue);
}
section {
    display: flex;
    flex-direction: column;
}
.inline {
    display:flex;
    width: 100%;
}
input, button {
    margin: 15px 20px;
    border: 1.5px solid var(--myGray);
    border-radius: 3px;
    padding: 12px 15px;
}
textarea {
    margin: 15px 20px;
    min-height: 300px;
    border: 1.5px solid var(--myGray);
    border-radius: 3px;
    padding: 12px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input, textarea, button {
    font-size: 1em;
    color: var(--dimGray);
    line-height: 1.2em;
}
input:focus, textarea:focus {
    outline-color: var(--myGreen);
}

.btn {
    background-color: var(--myBlue);
    color: var(--whity);
    border-color: var(--myBlue);
}
.btn:hover {
    background-color: #8daa3c;
    border-color: #8daa3c;
}
.btn:active {
    padding: 14px 13px 10px 17px;
}
/**************HEADER*****************/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
}

header, footer {
    background-color: var(--whity);
    color: var(--myGray);
    border-bottom: 1.5px solid var(--myGray);
}
section {
    margin-top: 84px;
}

.header-inside {
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}
.header-inside > nav {
    height: 100%;
}
nav > ul {
    display: flex;
    height: 100%;
    margin: 0;
}
nav li {
    list-style: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
nav li:hover {
    background-color: var(--myBlue);
    color: var(--whity);
    cursor: pointer;
}
ul a > .active {
    color: var(--dimGray);
    text-decoration: underline;
    text-decoration-color: var(--myGreen);
}
/***Backgrounds**/
.blueBkg {
    background-color: var(--myBlue);
    color: var(--whity);
    fill: var(--lightGreen);
}
.blueBkg img {
    box-shadow: 6px 6px 10px black;
}
.greenBkg {
    background-color: var(--lightGreen);
    color: var(--dimGray);
    fill: var(--myBlue);
}
.brownBkg {
    background-color: var(--dimGray);
    color: var(--whity);
}
.brownBkg > img {
    box-shadow: 6px 6px 10px black;
}
.grayBkg {
    background-color: var(--myGray);
    color: var(--whity);
}
.whityBkg {
    background-color: var(--whity);
    color: var(--dimGray);
    fill: var(--myBlue);
}
.whityBkg img {
    box-shadow: 6px 6px 10px var(--myGray);
}
.whiteBkg {
    background-color: white;
    color: var(--dimGray);
}
.whiteBkg img {
    box-shadow: 6px 6px 10px var(--myGray);
}

/***Texts**/
.blueTxt {
    color: var(--myBlue);
}
.greenTxt {
    color: var(--myGreen);
}
.brownTxt {
    color: var(--dimGray);
}
.grayTxt {
    color: var(--myGray);
}
.whityTxt {
    color: var(--whity);
}

@media all and (max-width: 1000px) {
    h1 {
        font-size: 1.4em;
    }
    .header-inside {
        margin: 0 5%;
    }
    ul {
        padding-left: 0;
    }
}
@media all and (max-width: 768px) {
    h1 {
        font-size: 1.1em;
    }
    .header-inside {
        margin: 0 3%;
        height: 53px;
    }
    section {
        margin-top: 54px;
    }
}
@media all and (max-width: 650px) {
    .header-inside {
        margin: 0 5%;
    }
    .header-inside > a {
        display: none;
    }

}
